@import "bootstrap/scss/bootstrap.scss";

body {
	background: url("./assets/img/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-color: $gray-300;
}

.default-layout {
	min-height: 100vh;
	background-color: $white;

	header {
	img.logo {
		margin-right: 1rem;
	}
	}

	footer {
		background-color: $gray-400;

		img {
			background-color: $white;
			height: 75px;
			width: auto;
		}
	}
}

.navbar-nav {
	.nav-item img {
		height: 1em;
		margin-right: 0.2rem;
	}
}

.gamelist {
	table {
		/* Make sure the games' thumbnails do not dissapear on small screens */
		td:first-child,th:first-child {
			min-width: 100px;
		}
	}
}

.logocontest-entry {
	img {
		max-width: 100%;
	}
}

.logo {
	max-height: 200px;
	max-width: 98%;
}
